@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vidaloka&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-image: url("hero image and logo/h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

.header{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1;

}

.logo{
    font-family: 'Lobster', cursive;
    font-size: larger;
    color: rgb(11, 11, 61);
}

.nav-list{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 7vw;
    list-style-type: none;
    background-color: aqua;
}

.nav-list li a{
    text-decoration: none;
    font-family: 'Vidaloka', serif;
    font-size: 18px;
    padding: 0 0.3em;
    color: rgb(11, 11, 61);
    background-color: aquamarine;
}

.user-bag{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    background-color: aquamarine;

}
 
.fa-solid{
    font-size: larger;
    color: rgb(11, 11, 61);
}

.search{
    width: 18vw;
    background-color: aquamarine;
    font-family: 'Vidaloka', serif;
}

label{
    color: rgb(11, 11, 61);
}

input{
    width: 65%;
    height: 2em;
    border-radius: 5px;
    padding: 0 1em;
}

.af{
    position: relative;
    top: 100vh;
}






